* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    background: linear-gradient(
        135deg,
        #081226,
        #102542,
        #1b365d,
        #2f4f7f
    );

    color: white;
}

.container {
    width: 90%;
    max-width: 750px;
    padding: 35px;

    background: rgba(255, 255, 255, 0.12);

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);

    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 15px;
}

p {
    color: #d9eaff;
    margin-bottom: 25px;
}

button {
    padding: 14px 30px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(
        90deg,
        #00c6ff,
        #0072ff
    );

    color: white;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00c6ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
    background: #0072ff;
}

tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

.back {
    display: inline-block;

    margin-top: 25px;

    padding: 12px 25px;

    background: #0072ff;

    color: white;

    text-decoration: none;

    border-radius: 10px;
}

.back:hover {
    background: #00c6ff;
}